.Agency_FB {
  font-family: 'Agency FB';
}
.Arial {
  font-family: 'Arial';
}
.Arial_Black {
  font-family: 'Arial Black';
}
.Arial_Narrow {
  font-family: 'Arial Narrow';
}
.Arial_Rounded_MT_Bold {
  font-family: 'Arial Rounded MT Bold';
}
